certifi==2020.4.5.1
chardet==3.0.4
DateTime==4.3
entrypoints==0.3
flake8==3.7.9
future==0.18.2
idna==2.9
mccabe==0.6.1
pika==1.1.0
psycopg2==2.8.4
pyArango==1.3.4
pycodestyle==2.5.0
pyflakes==2.1.1
pymemcache==3.0.1
PyPika==0.36.0
pytz==2019.3
requests==2.23.0
six==1.14.0
urllib3==1.25.8
zope.interface==5.0.2
